<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>drop array | 細音希の対話出来ない型AI</title>
        <link rel="stylesheet" href="/st/css/style.css">
        <script src="/st/js/master.js"></script>
    </head>
    <body>
        <div id="container">
            <header>
                <div>
                </div>
            </header>
            <main>
                <h1>この機能はまだ作ってません。</h1>
                <form name="fm" onsubmit="return false;">
                    <p>json配列を流し込んで日本語を学習させる</p>
                    <p>フォーマット: <span style="color: dimgray;">["string1", "string2", "string3"]</span></p>
                    <p><textarea name="json" placeholder="json配列を入力"></textarea></p>
                    <p><button>送信</button></p>
                </form>
            </main>
        </div>
        <script>
        </script>
    </body>
</html>