<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>HumanProject</title>
        <link rel="stylesheet" href="/st/css/style.css">
        <script src="/st/js/master.js"></script>
    </head>
    <body>
        <div id="container">
            <header>
                <div>
                </div>
            </header>
            <main>
                <p><a href="/drop/tweet/">tweet.jsファイルを流し込む</a></p>
                <form name="fm" onsubmit="send(); return false;">
                    <p>文章を送信して日本語を学習させる</p>
                    <p><input type="text" name="text" placeholder="文章を入力" autocomplete="off"></p>
                    <input type="hidden" name="from" value="nozomi">
                    <p><button>送信</button></p>
                </form>
                <h3>↓送信した文章↓</h3>
                <p id="sended"></p>
                <h3>↓返答↓</h3>
                <p id="talk"></p>
                <h3>↓覚えた単語↓</h3>
                <ul id="resp"></ul>
            </main>
        </div>
        <script>
            resp = {};
            function send() {
                let data = new FormData(document.fm);
                formDisabled(document.fm, true);
                post('/human/1', data)
                .then(res => {
                    resp = res;
                    console.log(res);
                    formDisabled(document.fm, false);
                    document.fm.text.value = '';
                    document.getElementById('sended').innerText = res.talk.heard;
                    document.getElementById('talk').innerText = res.talk.talked;
                    document.getElementById('resp').innerHTML = '';
                    res.sds.forEach(s => {
                        let p = document.createElement('li');
                        p.innerText = s.data;
                        document.getElementById('resp').appendChild(p);
                    });
                    document.fm.text.focus();
                }).catch(err => {
                    console.error(err);
                    formDisabled(document.fm, false);
                    alert('エラー');
                });
            }
        </script>
    </body>
</html>